<div md-whiteframe="1" style="margin:25px;background:rgba(255,255,255,0.7);">
    <div layout="row" style="padding: 15px;">
        <span style="line-height:41px">Период:</span>
        <md-datepicker ng-model="start" md-placeholder="Enter date"></md-datepicker>
        <md-datepicker ng-model="end" md-placeholder="Enter date"></md-datepicker>
        <md-button ng-click="update()">Обновить</md-button>
    </div>
    <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="6" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" layout-align="center" style="margin:10px">
        <md-grid-tile class="gray" md-whiteframe="2">
            <h1 class="md-display-3">{{countClient}}</h1>
            <md-grid-tile-footer>
                <h3>Клиентов</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="green" md-whiteframe="2">
            <h1 class="md-display-3">{{countDraw}}</h1>
            <md-grid-tile-footer>
                <h3>Прорисовок</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="yellow" md-whiteframe="2">
            <h1 class="md-display-3">{{countZakaz}}</h1>
            <md-grid-tile-footer>
                <h3>Заказов</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="blue" md-whiteframe="2">
            <h1 class="md-display-3">{{sumPay}}</h1>
            <md-grid-tile-footer>
                <h3>Предоплат</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="blue" md-whiteframe="2">
            <h1 class="md-display-3">{{sumSecondPay}}</h1>
            <md-grid-tile-footer>
                <h3>Доплат</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile ng-show="user.type!='Консультант'" class="blue" md-rowspan="2" md-colspan="3" md-colspan-sm="1" md-colspan-xs="1"
            md-whiteframe="2">
            <div google-chart chart="FollowChart" style="height:auto; width:100%;"></div>
            <md-grid-tile-footer>
                <h3>Источники</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile ng-show="user.type!='Консультант'" class="blue" md-rowspan="2" md-colspan="3" md-colspan-sm="1" md-colspan-xs="1"
            md-whiteframe="2">
            <div google-chart chart="ReportChart" style="height:auto; width:100%;"></div>
            <md-grid-tile-footer>
                <h3></h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>
<md-button class="md-fab md-primary" style="position: absolute;bottom:12px;right:12px;padding:0" ng-href="#/reports/add">
    <md-tooltip>
        Добавить анкету
    </md-tooltip>
    <md-icon md-svg-icon="add" style="color: #FFF;width:56px;height:56px" aria-label="Alarm Icon"></md-icon>
</md-button>