<div layout="column" style="margin:15px;background:rgba(255,255,255,0.4)">
    <div layout="column" style="padding:10px;height:250px;padding-top:120px;background:lightgreen">
        <h1 style="display:block"> {{staffName}}</h1>
        <h4 style="display:block"> {{salonName}}</h4>
    </div>
    <div layout="row" flex>        
            <div google-chart chart="PlanChart" flex="80" style="min-height:250px"></div>
            <div google-chart chart="ConversionChart" flex="80" style="min-height:250px"></div>        
    </div>
</div>